<form [formGroup]="form" #f="ngForm">

  <div class="form-group">
  <label for="oldPassword">Old Password</label>
  <input type="text" formControlName="oldPassword" id="oldPassword" class="form-control">
<div  *ngIf="oldPassword?.touched&&oldPassword?.invalid" class="alert alert-danger">
<div *ngIf="oldPassword?.errors?.required">old Password Required</div>
<div *ngIf="oldPassword?.errors?.invalidOldPassword">old Password is invalid</div>


</div>



</div>

<div class="form-group">
  <label for="newPassword">New Password</label>
  <input type="text"  formControlName="newPassword" id="newPassword" class="form-control">
  <div  *ngIf="newPassword?.touched&&newPassword?.invalid" class="alert alert-danger">
    <div *ngIf="newPassword?.errors?.required">new Password Required</div>
    </div>
</div>
<div class="form-group">
  <label for="confirmPassword">confirm Password</label>
  <input type="text" formControlName="confirmPassword" id="confirmPassword" class="form-control">
  <div  *ngIf="confirmPassword?.touched&&confirmPassword?.invalid" class="alert alert-danger">
    <div *ngIf="confirmPassword?.errors?.required">confirm Password Required</div>

    </div>

<div *ngIf="confirmPassword?.valid && form?.invalid &&form?.errors?.passwordsShouldMatch">password do not match</div>

</div>

<button  [disabled]="f.invalid" class="btn btn-primary">change Password</button>
</form>
